body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #6c7279;
  margin: 0;
  padding: 0;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* HEADER
===================================================== */
header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}
.header__inner {
  align-items: center;
  padding: 37px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #505268;
}
nav {
  display: flex;
  font-size: 13px;
  font-weight: 700;
}
.nav__link {
  margin-left: 60px;
  text-decoration: none;
  color: #fff;
  opacity: 0.75;
  transition: opacity 0.3s linear;
}
.nav__link:hover {
  opacity: 1;
}
.nav__link:first-child {
  margin: 0;
}
p {
  margin: 0px 0px 10px;
}

/* INTRO
======================================================== */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 102px;
  height: 750px;
  background: #30344e url(../img/intro_bg.jpg) no-repeat center;
  background-size: cover;
}
.intro__inner {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
}
.intro__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 65px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 30px;
}
.intro__subtitle {
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #fff;
  line-height: 1.5;
}

/* button */
.btn {
  display: inline-block;
  vertical-align: top;

  font-size: 13px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-decoration: none;

  text-transform: uppercase;
  border-radius: 2px;
  padding: 15px 50px;
  margin-top: 73px;
}
.btn__red {
  background-color: #e84545;
  transition: background 0.2s linear;
}
.btn__red:hover {
  background-color: #c23131;
}

/* FEATURES
====================================================== */
.features {
  display: flex;
  flex-wrap: wrap;
  margin: 85px 0;
}
.features__item {
  width: 33.33333%;
  text-align: center;
  font-size: 0;
  padding: 36px 35px;

}
.features__title {
  margin-bottom: 21px;
  margin-top: 32px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: auto;
  text-transform: uppercase;
  color: #2d3033;
}
.features__text {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #6c7279;
}

/* WORKS
========================================================*/
.works{
  display: flex;
  flex-wrap: wrap;

}
.works__item{
  width: 25%;
  position: relative;
  overflow: hidden;
  height: 350px;
  border-bottom: #fff 1px solid;
  border-right: #fff 1px solid;
}
.works__photo{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.works__content{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(232, 69, 69, 0.9);
  opacity: 0;
  transition: opacity 0.3s linear;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.works__content:hover{
  opacity: 1;
}
.works__title{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
}
.works__text{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

/* TEAM
=========================================================== */
.team{
  margin-top: 101px;
  margin-bottom: 71px;
}
.team__inner{
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}
.team__item{
  width: 25%;
  font-size: 0;
  padding: 0px 15px;
  margin-bottom: 30px;
}
.team__photo{
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 25px;
}
.team__name{
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  color: #2d3033;
  margin-bottom: 8px;
}
.team__prof{
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  color: #e84545;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.team__text{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #6c7279;
  line-height: 1.5;
}

/* SOCIAL
===================================================== */
.social{
  display: flex;
}
.social__item{
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid #e8ecee;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
  margin-top: 25px;
  background-color: #fff;
  transition: border-color, background-color, .3s linear;
}
.social__item:hover{
  background-color: #e8ecee;
  border-color: #e84545;
}
.social__icon{
  height: 18px;
  fill: #c6cacc;
  transition: fill .3s linear;
}
.social__item:hover .social__icon{
  fill: #e84545;
}

/* REVIEWS
====================================================== */
.reviews{
  background-color: #53354a;
  overflow: hidden;
}
.reviews__item{
  display: flex;
  flex-wrap: wrap;
}
.reviews__photo{
  width: 50%;
  height: 500px;
  position: relative;
}
.reviews__img{
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
}
.reviews__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 84px;
}
.reviews__text{
  font-family: 'Cardo', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 36px;
  line-height: 1.16667;
  color: #fff;
  margin-bottom: 30px;
}
.reviews__author{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #fff;
}

/* DOWNLOAD
=================================================== */
.download{
  margin-top: 96px;
  text-align: center;
}
.download__title{
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 300;
  color: #2d3033;
  margin-bottom: 15px;
}
.download__text{
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #2d3033;
  text-transform: uppercase;
}
.download__button{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: #e84545;
  padding: 16px 84px;
  border-radius: 2px;

}
.download__button__inner{
  margin-bottom: 116px;
  margin-top: 55px;
}

/* FOOTER
==================================================== */
.footer__contant{
  display: flex;
  justify-content: space-between;
}
.footer{
  background: #3a3e64;
}
.footer__block{
  text-align: center;
  width: 33.33%;
  margin-bottom: 85px;
}
.footer__title{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin: 66px 0 17px;
}
.footer__text{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: rgba(255,255,255,0.5);
}
.footer__contacts{
  display: flex;
  justify-content: center;
}
.social__icon__footer{
  height: 18px;
  fill: #fff;
  transition: fill .3s linear;
}
.social__item__footer{
  display: flex;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
  background-color: #3a3e64;
  transition: border-color, background-color, .3s linear;
}
.social__item__footer__last{
  display: flex;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  align-items: center;
  justify-content: center;
  background-color: #3a3e64;
  transition: border-color, background-color, .3s linear;
}
.social__item__footer:hover{
  border-color: #e84545;
}
.social__item__footer:hover .social__icon__footer{
  fill: #e84545;
}




/* font-family: 'Cardo', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */
